.footer-title1 {
    height: 178px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

    h4,
    p {
        width: 1180px;
        margin: 0 auto;
        padding-bottom: 5px;
        color: var(--white-color);
    }

    h4 {
        font-size: 2rem;
    }
}

.footer {
    width: 1180px;
    margin: 0 auto;
    padding: 80px 0px;

    .footer-contact {
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        border-bottom: 1px solid rgb(211, 211, 211);

        .footer-contact1 {
            width: 351px;
            color: var(--text-color-1);

            .footer-title {
                cursor: pointer;
                text-decoration: none;
                color: var(--text-color-2);
                font-size: 3rem;
                font-weight: 700;
                line-height: 3rem;
            }

            p {
                padding-top: 10px;
                color: #333333;
                font-size: 1.4rem;
                line-height: 2.8rem
            }

            ;

            ul {
                padding-left: 0;

                li {
                    padding-top: 20px;
                    list-style: none;

                    a {
                        font-size: 14px;
                        text-decoration: none;
                        padding-left: 15px;
                        color: var(--text-color-1);
                    }
                }
            }
        }

        .footer-contact2 {
            width: 295px;


            h2 {
                padding-left: 15px;
                color: var(--text-color-2);
                font-size: 1.8rem;
                font-weight: 600;
            }

            p {
                color: #333333;
                font-size: var(--font-size-small1);
            }

            ;

            ul {
                padding-left: 0;

                li {
                    padding-top: 20px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        padding-left: 15px;
                        color: var(--text-color-2);
                        font-size: 1.4rem;


                        &:hover {
                            color: var(--hover-a);
                        }
                    }
                }
            }
        }
    }

    .footer-infor {
        display: flex;
        justify-content: space-between;
        padding: 25px 80px;

        .payfee {
            img {
                padding-top: 10px;
                object-fit: cover;
            }
        }
    }
}