.container {
    width: 100%;
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 14px;
}

.title {
    font-size: 2rem;
    line-height: 2;
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color);
}

.empty {
    border-bottom: 1px solid var(--border);
    flex: 1;
}