.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;

    button {
        padding: 0 10px;
        font-size: 1.8rem;
        height: 40px;
        color: var(--white-color);
        cursor: pointer;
        border: 1px solid #e9e9e9;
        background-color: var(--primary-admin-color);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--primary-admin-hover-color);
        }
    }
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--primary-admin-color);
    font-weight: 600;
    margin-bottom: 20px;
}

.name,
.price,
.description {
    width: 100%;
    margin-bottom: 15px;

    label {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--primary-admin-color);
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        font-size: 1.6rem;
        outline: none;
        border: 1px solid #e9e9e9;
        height: 40px;
        padding-left: 1rem;
    }

    textarea {
        width: 100%;
        height: 150px;
        font-size: 1.6rem;
        outline: none;
        border: 1px solid #e9e9e9;
        padding: 1rem 1rem;
    }
}

.cate-img-container {
    display: flex;
    margin-bottom: 20px;

    img {
        padding-left: 50px;
        height: 230px;
        width: auto;
    }
}

.category {
    margin-bottom: 15px;

    label {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--primary-admin-color);
        margin-bottom: 5px;
    }

    select {
        font-size: 1.6rem;
        border: 1px solid #e9e9e9;
        height: 40px;
        padding-left: 3px;
        outline: none;
    }
}

.image {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    div {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--primary-admin-color);
        margin-bottom: 5px;
    }
}

.image input[type="file"] {
    display: none;
}

.image label {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.6rem;
    height: 40px;
    color: var(--primary-admin-color);
    cursor: pointer;
    border: 1px solid #e9e9e9;
    transition: background-color 0.3s ease-in-out;
}

.image label:hover {
    background-color: var(--primary-admin-color);
    color: var(--white-color);
}

.toast {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    color: var(--primary-admin-color);
    border: 1px solid var(--primary-admin-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
}

.fade-in {
    opacity: 1;
    animation: fade-in-animation .3s ease-in;
}

.fade-out {
    animation: fade-out-animation .3s ease-out;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}